.grid-container {
        display: grid;
        grid-template-rows: 70px 530px 70px;
        grid-template-columns: 20% 80%;
        grid-template-areas: 
            "header header"
            "side main"
            "footer footer"; 
        gap: 10px; /*ใส่เพื่อให้เกิดช่้องว่าง*/
        padding: 10px;
        height: 100vh;
        box-sizing: border-box;
    }

    header {
        grid-area: header;
        background-color: #4A8308;
        color: white; 
        text-align: center; 
        line-height: 70px;
        font-size: 24px;
    }

    aside {
        grid-area: side;
        background-color: #004975;
        color: white; 
        text-align: center; 
        line-height: 530px; 
        font-size: 24px;
        border-right: 2px solid white; 
    }

    main {
        grid-area: main;
        background-color: #78007D;
        color: white; 
        text-align: center; 
        line-height: 530px; 
        font-size: 24px;
    }

    footer {
        grid-area: footer;
        background-color: #007A54;
        color: white; 
        text-align: center; 
        line-height: 70px; 
        font-size: 24px;
    }