body {
    background-image: url(https://i.pinimg.com/1200x/6c/72/97/6c72972ab84e36d0ace4ee7522709046.jpg);
    color: aliceblue;
    text-align: center; 
    font-family: sans-serif;
}

#datauserheader {
    background-color: rgb(8, 4, 65);
    border: 2px solid rgb(26, 111, 186);
    color: beige;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    text-shadow: 5px 5px 5px rgb(85, 223, 236);
    width: fit-content;
    margin: 0 auto 20px auto; 
}

h1 {
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 20px;
}

img {
    border: 3px solid rgb(26, 111, 186);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(26, 111, 186, 0.5);
}

nav h3 {
    text-align: center;
    border: 3px solid rgb(26, 111, 186);
    background-color: transparent; 
    padding: 15px;
    width: fit-content;
    margin: 20px auto;
    border-radius: 10px;
}

nav a {
    color: #FFD700;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    transition: 0.3s;
}

nav a:hover {
    color: #00FFFF; /* สีฟ้าสว่างเมื่อเอาเมาส์ชี้ */
    text-shadow: 0 0 10px #00FFFF;
}

ul.hobby-list {
    list-style-type: none; 
    padding: 0;
}

li {
    display: inline-block; 
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.5); 
    border: 2px solid rgb(26, 111, 186);
    color: beige;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    text-shadow: 5px 5px 5px rgb(85, 223, 236);
    margin: 5px;
    border-radius: 8px;
}

.datauser-title, .Homelet {
    background-color: aqua;
    font-size: 20px;
    color: black;
    width: fit-content;
    padding: 5px 10px;
    margin: 10px auto;
    border-radius: 5px;
    font-weight: bold;
}


form, table {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    margin: 0 auto;
    width: fit-content;
    border-radius: 10px;
    border: 1px solid rgb(26, 111, 186);
}

button {
    background-color: aquamarine;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #00aaff;
    color: white;
}


footer {
    text-align: center;
    border: 3px solid rgb(26, 111, 186);
    background-color: rgb(8, 4, 65);
    color: azure;
    padding: 20px;
    margin-top: 20px;
}

footer a {
    color: #00FFFF; 
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 80%; 
    margin: 20px auto;
}

th, td {
    padding: 10px;
    border: 1px solid rgb(26, 111, 186);
}